<div class="container">
    <p class="lastUpdated">Last updated: {{lastUpdated}}</p>
    <!--Use a local variable that will display the name of the country-->
    <h1 class="centerText">

        <span *ngIf="county">
            {{county | titlecase}} 
        </span>

        <span *ngIf="state">
            {{state}} 
        </span>

        <span *ngIf="region">
            {{region}} 
        </span>
    </h1>

    <div class="confirmedCases">
        <h2 class="centerText">Confirmed Cases</h2>
        <p class="centerText">{{localConfirmed}}</p>
    </div>

    <div class="confirmedDeaths">
        <h2 class="centerText">Confirmed Deaths</h2>
        <p class="centerText">{{localDeaths}}</p>
    </div>
</div>
